<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body style="background-color: black; color: white; text-align: center;">
    <h1>Change Password</h1>

    <form method="POST" action="/users/updatePassword">
        <input type="email" name="email" value="<%= data.email %>" readonly>
        <br><br>
        <input type="password" name="newPassword" placeholder="Enter new password" required>
        <br><br>
        <input type="password" name="confirmPassword" placeholder="Confirm new password" required>
        <br><br>

        <button type="submit">Update Password</button>
    </form>
</body>
</html>
