<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgotStyle.css">
    <title>Document</title>
</head>

<body class="forgot" style="background-color: black; color: white;">
    <center>
    <form method="get" action="/users/passwordChange">
        <input type="email" name= "email" placeholder="Enter your email"><br><br>
        <button type="submit">submit</button>
    </form><br><br>
    <form  method="get"  action="/">
        <button>back</button>
    </form>
</center>
</body>

</html>