<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homeStyle.css">
    <title>home</title>
</head>
<center>
<body class="home">
    
    <h1>Welcome To Home Page</h1>
    <h3>The Total number of users : <%= data %></h3>
    <form method="get" action="/users/userdetails">
        <input type="email" name="email" placeholder="Enter Your Email"/><br><br>
        <input type="password" name="password" placeholder="Enter Your Password"><br><br>
        <button type="submit">Sign in</button>  
    </form><br><br>
    <form method="get" action="/users/forgotPassword">
            <button>forgot Password</button>
        </form><br><br>
    <form method="get" action="/users/signup">
        <button type="submit">Sign up</button>
    </form>
   
</body>
</center>
</html>