<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new User</title>
</head>
<body style="background-color: black; color: white; text-align: center;">
    <h1>Welcome to the Club</h1>
    <form  method="post" action="/users/newuser">
    
    <input type="text" name="username" placeholder="Enter username"><br><br>
    <input type="email" name="email" placeholder="Enter email"><br><br>
    <input type="password" name="password" placeholder="Enter password"><br><br>
    <input type="password" name="confirmPassword" placeholder="Confirm password"><br><br>
    <button>sign up</button>
    </form><br><br>
    <form  method="get"  action="/">
        <button>back</button>
    </form>


    
</body>
</html>