<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No user</title>
</head>
<body>
    <h1>No Such User Exitsed</h1><br>
    <form method="get" action="/">
        <button>back</button>
    </form><br><br>
    <form method="get" action="/users/signup">
        <button>sign up</button>
    </form>
</body>
</html>